@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

.font-light {
  font-weight: 100;
}

.font-medium {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.titulos-mixin-s {
  font-size: 1.2rem;
}

.titulos-mixin-m {
  font-size: 2rem;
}

.titulos-mixin-l {
  font-size: 2.5rem;
}

.titulos-mixin-xl {
  font-size: 3.5rem;
}

/* Sección Home  */
.btn, #banner .btn--banner {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-radius: 20px;
  transition: all 250ms;
}

@media all and (max-width: 768px) {
  .btn, #banner .btn--banner {
    padding: 0.4rem 2rem;
    font-size: 10px;
  }
}

#banner {
  position: relative;
  background-image: url(../assets/festivalbyn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 50vh;
}

#banner texto {
  z-index: 2;
}

#banner .titulos-mixin-xl {
  line-height: 3.5rem;
}

@media all and (max-width: 768px) {
  #banner .titulos-mixin-xl {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

#banner .btn--banner:hover {
  background-image: none;
}

.item {
  transition: all 250ms;
}

.item:hover {
  transform: scale(1.1);
}

.item .imagenCard {
  width: 80%;
}

@media all and (max-width: 768px) {
  .item titulos-mixin-s {
    font-size: 1rem;
  }
}

.item p {
  font-size: 1rem;
  line-height: 1rem;
}

@media all and (max-width: 768px) {
  .item p {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

.item a {
  font-size: 1.2rem;
  color: #7437D3;
}

@media all and (max-width: 768px) {
  .item a {
    font-size: 1rem;
  }
}

@media all and (max-width: 768px) {
  .titulos-mixin-m {
    font-size: 1.5rem;
  }
}

/* Sección Artistas  */
#bannerArtistas .titulos-mixin-l {
  line-height: 2.5rem;
}

@media all and (max-width: 768px) {
  #bannerArtistas .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

#bannerArtistas .textArtistas {
  font-size: 1rem;
  line-height: 1rem;
}

@media all and (max-width: 768px) {
  #bannerArtistas .textArtistas {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

#bannerArtistas .imagenTyler {
  width: 99%;
}

@media all and (max-width: 768px) {
  #bannerArtistas .imagenTyler {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  #cardsArtistas .titulos-mixin-m {
    font-size: 1.5rem;
  }
}

#cardsArtistas .itemArtista {
  transition: all 250ms;
}

#cardsArtistas .itemArtista:hover {
  transform: scale(1.1);
}

#cardsArtistas .itemArtista .imagenArtista {
  width: 80%;
}

@media all and (max-width: 768px) {
  #cardsArtistas .itemArtista .imagenArtista {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  #cardsArtistas .itemArtista .titulos-mixin-s {
    font-size: 1rem;
  }
}

#cardsArtistas .itemArtista .descripcion {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  #cardsArtistas .itemArtista .descripcion {
    font-size: 0.7rem;
  }
}

@media all and (max-width: 768px) {
  #cardsCabeza .titulos-mixin-m {
    font-size: 1.5rem;
  }
}

#cardsCabeza .itemCabeza {
  transition: all 250ms;
}

#cardsCabeza .itemCabeza:hover {
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  #cardsCabeza .itemCabeza .titulos-mixin-s {
    font-size: 1rem;
  }
}

#cardsCabeza .itemCabeza .artic {
  width: 70%;
}

#cardsCabeza .itemCabeza .tyler {
  width: 70%;
}

#cardsCabeza .itemCabeza .jack {
  width: 70%;
}

#cardsCabeza .itemCabeza .posty {
  width: 70%;
}

#cardsCabeza .itemCabeza .harrysmall {
  width: 73%;
}

#cardsCabeza .itemCabeza .mac {
  width: 68%;
}

/* Sección blog  */
#bannerBlog {
  position: relative;
  background-image: url(../assets/harrybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 50vh;
}

#bannerBlog .textoBlog {
  font-size: 1rem;
  line-height: 1rem;
  z-index: 2;
  color: white;
}

@media all and (max-width: 768px) {
  #bannerBlog .textoBlog {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

#bannerBlog .titulos-mixin-l {
  line-height: 2.5rem;
  color: white;
}

@media all and (max-width: 768px) {
  #bannerBlog .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media all and (max-width: 768px) {
  #cardsBlog .titulos-mixin-m {
    font-size: 1.5rem;
  }
}

#cardsBlog .itemNoticia {
  transition: all 250ms;
}

#cardsBlog .itemNoticia:hover {
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  #cardsBlog .itemNoticia .titulos-mixin-s {
    font-size: 1rem;
  }
}

#cardsBlog .itemNoticia .descripcion-noticia {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  #cardsBlog .itemNoticia .descripcion-noticia {
    font-size: 0.7rem;
  }
}

.imagenNoticia {
  max-width: 100%;
}

/* Sección Festivales  */
#bannerFestivales {
  position: relative;
  background-color: black;
  min-height: 250px;
}

#bannerFestivales .texto {
  z-index: 2;
}

@media all and (max-width: 768px) {
  #bannerFestivales .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.itemFestival {
  transition: all 250ms;
}

.itemFestival:hover {
  transform: scale(1.1);
}

.itemFestival .descripcion {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  .itemFestival .descripcion {
    font-size: 0.7rem;
  }
}

.itemFestival .descripcion_mod {
  color: #7437D3;
}

@media all and (max-width: 768px) {
  .itemFestival .descripcion_mod {
    font-size: 0.7rem;
  }
}

.select-artist {
  min-height: 60px;
  border-radius: 3px;
}

.btn_mod {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-color: black;
  border-radius: 20px;
  transition: all 250ms;
}

.btn_mod:hover {
  background-color: #7437D3;
  border-color: #7437D3;
}

@media all and (max-width: 768px) {
  .btn_mod {
    padding: 0.4rem 1.2rem;
    font-size: 10px;
  }
}

/* Sección Contacto  */
#bannerContacto {
  position: relative;
  background-color: #7437D3;
  min-height: 100px;
}

#bannerContacto .texto {
  z-index: 2;
}

#form {
  background-color: #7437D3;
}

#form .btn_mod2 {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-color: #000;
  border-radius: 20px;
  transition: all 250ms;
}

#form .btn_mod2:hover {
  background-color: #FFF;
  border-color: #FFF;
  color: black;
}
